@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.App {
  background-color: #000814;
  height: 100vh;
  color: white;
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
}

.App-header nav li {
  margin: 0 40px;
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.Subtitle, .Subtitle a, .Subtitle input {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 40px;
  text-decoration: none;
}

.White, .White a {
  color: #FFFDF7;
}

.App-title {
  font-size: 1.5em;
  padding-left: 10px;
}

.yellow {
  background: #FFC300;
}

.gray {
  background: #B0B0B0;
}

.blue {
  background: #003566;
}

.button {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 60px;

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;

  margin: 0 auto;

  cursor: pointer;
}

.button-small {
  width: 100px;
  height: 30px
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-row .button:first-of-type {
  margin-right: 10px;
}

.button-row .button:nth-of-type(2) {
  margin-left: 10px;
}

/* -------------------- */

.home-container {
  display: flex;
  flex-direction: row;
  margin: 0 10vw 3vh 10vw;
  background: #FFFDF7;
  border-radius: 30px;
  color: black;
  height: 120px;
  padding: 10px 10px 10px 10px;
}

.home-box {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-box:not(:first-of-type) {
  border-left: 1px solid #B0B0B0;
}

.home-box input {
  width: 180px;
  color: #B0B0B0;
  border: none;
  background-color: transparent;
  text-align: center;
}

.hosting table {
  padding-top: 35px;
  margin: auto;
}

.hosting td {
  padding: 10px;
}

.hosting-page table {
  margin-bottom: 50px;
}

/* -------------------- */

.editHost {
  font-family: 'Quicksand';
}

.editHost input {
  width: 200px;
  margin-left: 30px;
  font-size: 18px;
}

.editHost span {
  width: 200px;
  display: inline-block;
  font-size: 18px;
  text-align: right;
}

.editHost div {
  margin-bottom: 15px;
}

.editHost .button-row {
  margin-top: 40px;
}

/* -------------------- */

.login {
  width: 48vw;
  background: #FFFDF7;
  color: #000814;
  margin: 0 auto;

  border: 1px solid #000000;
  border-radius: 20px;
}

.login h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #B0B0B0;
}

.login .fields {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.login .button {
  color: #FFFDF7;
}

.login-content {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-create {
  cursor: pointer;
}

/* ---------------- */

#map {
  height: 75vh;
  width: 100%;
}
