@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.App {
  background-color: #000814;
  height: 100vh;
  color: white;
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
}

.App-header nav li {
  margin: 0 40px;
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.Subtitle, .Subtitle a {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 40px;
  text-decoration: none;
}

.White, .White a {
  color: #FFFDF7;
}

.App-title {
  font-size: 1.5em;
  padding-left: 10px;
}